<div class="row">
  <div class="col-md-4 mx-auto my-auto py-5 my-5">
    <main class="form-signin w-100 m-auto">
      <form>
        <h1 class="text-center display-1">
          <span class="bi bi-lock-fill"></span>
        </h1>
        <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control text-center"
            id="floatingInput"
            placeholder="your username"
          />
          <label class="text-center" for="floatingInput ">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control text-center"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">
          Sign in
        </button>
        <p class="mt-5 mb-3 text-body-secondary text-center">© Brema Kabenge</p>
      </form>
    </main>
  </div>
</div>
